/* pages/task/components/taskDelete/taskDelete.wxss */
.dialog-container{
  text-align: center;
  color: #333333;
  font-size: 24rpx;
  .delete-icon{
    width: 176rpx;
    height: 176rpx;
    margin: 48rpx 0;
  }
  .btns{
    display: flex;
    justify-content: space-around;
    margin: 48rpx 0 ;
    .btn{
      width: 264rpx;
      height: 80rpx;
    }
  }
}