/* pages/user/changePassword/changePassword.wxss */
.container {
  .edit-layout {
    .form-container {
      .error-info {
        display: flex;
        align-items: center;
      }
    }

    .bottom-button {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 180rpx;
      width: 100%;
      background-color: #ffffff;


      .delete-button {
        position: absolute;
        top: 30rpx;
        left: 50rpx;
        width: 40%;
        border-radius: 10rpx;
        background-color: #f3fafa;
      }

      .confirm-button {
        position: absolute;
        top: 30rpx;
        right: 50rpx;
        width: 40%;
        height: 82rpx;
        line-height: 81rpx;
        border-radius: 10rpx;
        font-size: 28rpx;
        color: #fff;
        background-color: #149F97;
      }
    }
  }

  .success-layout {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50rpx;
    .image-text{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .logout-button {
      margin-top: 80rpx;
      border: 1px solid #149F97;
      color: #149F97;
      width: 332rpx;
      height: 72rpx;
      line-height: 72rpx;
    }
  }
}